<%= erb(:head) %>
<div class="right-align">
      <h2 > Score </h2><hr>
      <h4><%= @player1.name %> : <%= @player1.score %></h4><br>
      <h4><%= @player2.name %> : <%= @player2.score %></h4><hr>

       <h1 id="score" class="right-align">0</h1> <!-- Corregir score con cada jugador -->
</div>

<div class="boardContainer">
      <table id="board" >
            <% for i in 0..(@matSize.to_i - 1) do %>
                  <tr>
                        <% for i in 0..(@matSize.to_i - 1) do %>
                              <td>
                                    <button class="up" onclick = "selectBorder(this,'topSelected')"> ⇡  </button> 
                                    <button class="left" onclick = "selectBorder(this,'leftSelected')"> ⇠ </button>
                                    <button class="right" onclick = "selectBorder(this,'rightSelected')"> ⇢ </button>
                                    <button class="down" onclick = "selectBorder(this,'downSelected')"> ⇣ </button>                          
                              </td>
                        <% end %>
                  </tr>
            <% end %>
      </table>
</div>






      
     






